/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Style - Mohamed Ilyes Helal */

body
{
    background-color: #0077b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

main
{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    flex-wrap: nowrap;
    box-shadow: 0 0 7px #e5e5e5;
    border-radius: 1em;
    background-color: white;
    max-width: 950px;
}

main section.panel
{
    box-sizing: border-box;
    padding: 2em;
    border-right: 1px solid #e5e5e5;
    flex-grow: 1;    
    overflow: hidden;
    text-align: center;
}

main section.panel img
{
    width: 100%;
    margin-bottom: 1em;
}

main section.panel .serviceName
{
    font-size: 1.3em;
    color: #909ba5;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em;
    border-bottom: 1px solid #e5e5e5;
}

main section.panel p
{
    font-size: .9em;
    color: #0077b6;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1em;
    border-bottom: 1px solid #e5e5e5;
    text-shadow: 0 0 0px #000;
}

main section.panel p.prices
{
    font-weight: 700;
    font-size: 1.8em;
    text-shadow: none;
    border-bottom: none;
}

main section.panel button
{
    font-size: 1em;
    padding: 0.5em 1.5em;
    border-radius: 0.3em;
    border: 1px solid #0077b6;
    background-color: transparent;
    color: #0077b6;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all .3s linear;
}

main section.panel button:hover
{
    border: 1px solid #0077b6;
    background-color: #0077b6;
    color: #FFF;
    transform: scale(1.1);
}

main section.panel3
{
    border-right: none;  
}

@media (max-width: 950px)
{
    main
    {
        max-width: 100%;
        flex-direction: row;
    }
}

@media (max-width: 720px)
{
    main section.panel
    {
        border-bottom: 1px solid #e5e5e5;
        border-right: none;
        flex-grow: 0;
    }

    main section.panel3
    {
        border-bottom: none;
    }
    
    main
    {
        flex-direction: column;
        margin: 1em 0;
    }
}

@media (max-width: 520px)
{
    main
    {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}